//- These are all the resources from MaxCDN (Content Delivery Network) for Bootstrap 4
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

//- Ensure proper rendering and touch zooming (Bootstrap 4 is designed to be responsive to mobile devices)
<meta name="viewport" content="width=device-width, initial-scale=1">

//- Favicon
//- The question mark comes from https://stackoverflow.com/a/28920035
<link rel="icon" href="favicon.ico?" type="image/x-icon" />